<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Profile</h1>
    </div>

    <!-- Content Row -->
    <div class="row">
    <!-- Content Row -->

    <div style=" margin-left: auto; margin-right: auto; min-width: 100%;">

        <div class="col-lg-20 mb-40" >

            <!-- Illustrations -->
            <div class="card shadow mb-12">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Information about pofile!</h6>
                </div>
                <div class="card-body" style="display: flex;">
                    <div>
                        <img class="img-fluid px-3 px-sm-4 mt-3 mb-4 text-right" style="width: 35rem;"
                            src="assets/img/profile.svg" alt="...">
                            <div class="info"  style="float:right;">
                                <h2 style="float:left; min-width: 200px;">Profile ID: </h2><input class="card shadow mb-12" type="text" id="id" style="float:right;" name="id" readonly><br><br>
                                <h2 style="float:left; min-width: 200px;">Profile Name: </h2><input class="card shadow mb-12" type="text" id="name" style="float:right;" name="name" readonly><br><br>
                                <h2 style="float:left; min-width: 300px;">Profile Surname: </h2><input class="card shadow mb-12" type="text" id="surname" style="float:right;" name="surname" readonly><br><br>
                            </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- /.container-fluid -->
