<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Purchases</h1>
    <p class="mb-4">All of my purchases<a target="_blank"</p>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
          <div class="container-fluid">
            <br>
    </div>
        <div class="card-body">
            <div class="table-responsive">
                <table id="purchases-tables" class="table table-bordered"  width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>City</th>
                            <th>Zip</th>
                            <th>Phone Number</th>
                            <th>Date</th>
                            <th>Medicine Name</th>
                            <th>Medicine Quantity</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                          <th>ID</th>
                          <th>City</th>
                          <th>Zip</th>
                          <th>Phone Number</th>
                          <th>Date</th>
                          <th>Medicine Name</th>
                          <th>Medicine Quantity</th>
                        </tr>
                    </tfoot>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<!-- /.container-fluid -->
